{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<div class="container">

    <hr>
    <h2>Felicitation !</h2>

    <hr>
    <a href="">Mon compte</a>

    <br><br>


</div>
{% endblock %}
